{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- assign collection = collections[section.settings.collection] -%}
{%- assign product_limit = section.settings.product_count -%}
<div class="isolate gradient">
    <div class="collection section-{{ section.id }}-padding">
        <div class="justify-between pr-1p6rm-3r" style="padding-bottom: 10px;">
            {% if section.settings.title != blank %}
                <span class="product-slider--h2 pl-1rm-3r mtm2p"
                      style="line-height: 1;">
                    {{ section.settings.title | escape }}</span>
            {% endif %}
                <a href="{{ section.settings.collection.url }}"
                   class="button button--secondary mbm2p"
                   style="min-height: 3rem;
                          max-height: 5rem;
                          min-width: 1rem;
                          max-width: 12rem;">
                    {{ 'sections.featured_collection.view_all' | t }}</a>
        </div>
        <slider-component class="slider-mobile-gutter slider-component-desktop"
                          style="padding-left: 1rem;">
            <ul id="Slider-{{ section.id }}"
                class="grid product-grid contains-card 
                       contains-card--product contains-card--standard 
                       grid--4-col-desktop
                       grid--2-col-tablet-down slider 
                       slider--desktop slider--tablet grid--peek"
                role="list"
                aria-label="{{ 'general.slider.name' | t }}">
                {% for product in collection.products limit: product_limit %}
                    <li id="Slide-{{ section.id }}-{{ forloop.index }}"
                        class="grid__item slider__slide">
                        {% render 'card-product',
                            card_product: product,
                            media_aspect_ratio: section.settings.image_ratio,
                            show_secondary_image: section.settings.show_secondary_image,
                            section_id: section.id
                        %}
                {% endfor %}
            </ul>
            <div class="slider-buttons--product-slider no-js-hidden">
                <button
                    type="button"
                    class="slider-button slider-button--prev"
                    name="previous"
                    aria-label="{{ 'general.slider.previous_slide' | t }}"
                    aria-controls="Slider-{{ section.id }}"
                >
                    {% render 'icon-caret' %}
                <button
                    type="button"
                    class="slider-button slider-button--next"
                    name="next"
                    aria-label="{{ 'general.slider.next_slide' | t }}"
                    aria-controls="Slider-{{ section.id }}"
                >
                    {% render 'icon-caret' %}
                </button>
            </div>
        </slider-component>
    </div>
</div>

{% schema %}
{
    "name": "Slider produktů",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Nadpis",
            "default": "Nadpis pro kolekci produktů"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Kolekce"
        },
        {
            "type": "range",
            "id": "product_count",
            "min": 1,
            "max": 50,
            "label": "Množství produktů, které budou v slideru",
            "default": 10
        },
        {
            "type": "select",
            "id": "image_ratio",
            "options": [
                {
                    "value": "adapt",
                    "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
                },
                {
                    "value": "portrait",
                    "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
                },
                {
                    "value": "square",
                    "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
                }
            ],
            "default": "portrait",
            "label": "t:sections.featured-collection.settings.image_ratio.label"
        },
        {
            "type": "checkbox",
            "id": "show_secondary_image",
            "default": true,
            "label": "t:sections.featured-collection.settings.show_secondary_image.label"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 28
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 0
        }
    ],
    "presets": [
        {
            "category": "Collection",
            "name": "Slider produktů",
            "settings": {}
        }
    ]
}
{% endschema %}