{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- assign collection = collections[section.settings.collection] -%}
{%- assign product_limit = section.settings.product_count -%}
<div class="isolate gradient">
    <div class="collection section-{{ section.id }}-padding">
        <div class="justify-between page-width" style="padding-bottom: 5px;">
            {% if section.settings.title != blank %}
                <span class="product-slider--h2 mtm2p"
                      style="line-height: 1;">
                    {{ section.settings.title | escape }}</span>
            {% endif %}
                <a href="{{ section.settings.collection.url }}"
                   class="border-only-mobile button button--secondary mbm2p"
                   style="min-height: 3rem;
                          max-height: 5rem;
                          min-width: 1rem;
                          max-width: 13rem;">
                    {{ 'sections.featured_collection.view_all' | t }}&nbsp;»</a>
        </div>
        <slider-component class="slider-mobile-gutter slider-component-desktop"
                          style="padding-left: 1rem;">
            <ul id="Slider-{{ section.id }}"
                class="grid product-grid contains-card 
                       contains-card--product contains-card--standard 
                       grid--4-col-desktop
                       grid--2-col-tablet-down slider 
                       slider--desktop slider--tablet grid--peek"
                role="list"
                aria-label="{{ 'general.slider.name' | t }}">
                {% for product in collection.products limit: product_limit %}
                    <li id="Slide-{{ section.id }}-{{ forloop.index }}"
                        class="grid__item slider__slide">
                        {% render 'card-product',
                            card_product: product,
                            media_aspect_ratio: section.settings.image_ratio,
                            show_secondary_image: section.settings.show_secondary_image,
                            section_id: section.id
                        %}
                {% endfor %}
            </ul>
            <div class="slider-buttons--product-slider no-js-hidden">
                <button
                    type="button"
                    class="rotation absolute left-5 left-calc translate-y-1/2
                           w-5r h-5r flex justify-center items-center rounded-full
                           shadow-md z-10 bg-255-t-0-b-n-bs-h-bg-0-t-255-b-n-bs
                           display-none left-button"
                    name="previous"
                    aria-label="{{ 'general.slider.previous_slide' | t }}"
                    aria-controls="Slider-{{ section.id }}"
                >
                <svg className="font-bold" width="3rem" 
                     fill="none" stroke="currentColor" viewBox="0 0 24 24" 
                     xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" 
                      stroke-width="2.5" d="M9 5l7 7-7 7"></path>
                </svg>
                </button>
                <button
                    type="button"
                    class="absolute right-5 right-calc translate-y-1/2
                           w-5r h-5r flex justify-center items-center rounded-full
                           shadow-md z-10 bg-255-t-0-b-n-bs-h-bg-0-t-255-b-n-bs
                           right-button"
                    name="next"
                    aria-label="{{ 'general.slider.next_slide' | t }}"
                    aria-controls="Slider-{{ section.id }}"
                >
                <svg className="font-bold" width="3rem" 
                     fill="none" stroke="currentColor" viewBox="0 0 24 24" 
                     xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" 
                      stroke-width="2.5" d="M9 5l7 7-7 7"></path>
                </svg>
                </button>
            </div>
        </slider-component>
    </div>
</div>

<script>
function centerOverlays() {
  const images = document.querySelectorAll('#Slider-{{ section.id }} img');
  let firstImageHeight = 0;
  images.forEach(image => {
    const height = image.height;
    if (height > firstImageHeight) {
      firstImageHeight = height;
    }
  });
  const overlays = document.querySelectorAll('.absolute');
  overlays.forEach(overlay => {
    const overlayHeight = overlay.offsetHeight;
    const topOffset = (firstImageHeight - overlayHeight) / 2;
    overlay.style.top = topOffset + 'px';
  });
}

document.addEventListener('DOMContentLoaded', function() {
    const leftButtons = document.querySelectorAll('.left-button');
    leftButtons.forEach((button, index) => {
      button.id = `left-button-${index + 1}`;
    });

    const rightButtons = document.querySelectorAll('.right-button');
    rightButtons.forEach((button, index) => {
      button.id = `right-button-${index + 1}`;
      button.addEventListener('click', function() {
        const leftBtn = document.getElementById(`left-button-${index + 1}`);
        leftBtn.classList.remove('display-none');
        centerOverlays();
      });
    });
  });

document.addEventListener("DOMContentLoaded", centerOverlays);
centerOverlays();
</script>

{% schema %}
{
    "name": "Slider produktů",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Nadpis",
            "default": "Nadpis pro kolekci produktů"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Kolekce"
        },
        {
            "type": "range",
            "id": "product_count",
            "min": 1,
            "max": 50,
            "label": "Množství produktů, které budou v slideru",
            "default": 10
        },
        {
            "type": "select",
            "id": "image_ratio",
            "options": [
                {
                    "value": "adapt",
                    "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
                },
                {
                    "value": "portrait",
                    "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
                },
                {
                    "value": "square",
                    "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
                }
            ],
            "default": "portrait",
            "label": "t:sections.featured-collection.settings.image_ratio.label"
        },
        {
            "type": "checkbox",
            "id": "show_secondary_image",
            "default": true,
            "label": "t:sections.featured-collection.settings.show_secondary_image.label"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 5
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 0
        }
    ],
    "presets": [
        {
            "category": "Collection",
            "name": "Slider produktů",
            "settings": {}
        }
    ]
}
{% endschema %}